$Primary_text: #464646;
$Secondary_text: #606060;
$Text_input: #B4BAC4;
$Stroke: #DBE0E9;
$Line: #F0F2F6;
$Hover: rgba(24, 89, 255, 0.06);
$Background: #FAFAFA;
$Background_footer: #F0F0F0;
$Background_header: #FFFFFF;
$Primary: #1859FF;
$Red: #D60103;
$Green: #52C41A;
$Yellow: #FAAD14;
$Blue_stroke: #91D5FF;
$Red_stroke: #FFCCC7;
$Green_stroke: #B7EB8F;
$Yellow_stroke: #FFE58F;
$Blue_card: #E6F7FF;
$Red_card: #FFF1F0;
$Green_card: #F6FFED;
$Yellow_card: #FFFBE6;
